h1 {
    background-color: darksalmon;
    color: darkgreen;
}
header, footer{
    font-family: Georgia;
    font-size: large;
    width: 97.8%;
    border: 5px dashed darkred; /*dashed, dotted, double, outline*/
    background-color: darksalmon;
    border-radius: 120px;
    padding:1%; /*vahe teksti ja piiri vahel*/
}
footer#teine{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97.4%;
    text-align: center;
}
footer{
    text-align: center;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: darksalmon;
}

nav li{
    float: left;
    padding: 1%;
}

main{
    display: block;
    margin: 50px;
    padding:1px;
}

nav a:hover{
    background-color: grey;
}

nav li a{
    font-family: Georgia;
    font-size: large;
    text-decoration: none;
}

/********************************************section******************************/
section#osa1{
    display: inline-block;
    width: 20%;
    border-right: 1pt solid aqua;
    border-bottom: 1pt solid aqua;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa1 h3{
    text-align: center;
    background-color: gold;
    border-radius: 60px;
    padding: 5%;
    font-weight: bold;
    font-variant: all-petite-caps;
}

section#osa2{
    display: inline-block;
    width: 20%;
    border-right: 1pt dotted darkmagenta;
    border-bottom: 1pt dotted darkmagenta;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa2 h3{
    text-align: center;
    background-color: deeppink;
    border-radius: 60px;
    padding: 5%;
    font-weight: bold;
    font-variant: all-petite-caps;
}

section#osa3{
    display: inline-block;
    width: 20%;
    border-right: 1pt dashed darkred;
    border-bottom: 1pt dashed darkred;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa3 h3{
    text-align: center;
    background-color: orangered;
    border-radius: 60px;
    padding: 5%;
    font-weight: bold;
    font-variant: all-petite-caps;
}







